apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cortex.ingress.tls.secretName }}
  labels:
    tier: ingress
    app: {{ template "cortex.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  tls.crt: {{ .Values.tls_crt | quote }}
  tls.key: {{ .Values.tls_key | quote }}
type: Opaque
